<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>jQuery Mobile</title>
   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div class="title">
<h2>게시글 삭제</h2>
</div>
<FORM name='frm'
 	  method='POST' 
 	  action='./delete'
  	  onsubmit="return incheck(this)"
  	  enctype="multipart/form-data">
<TABLE>
<tr>
<td>비밀번호 확인이 필요합니다</td>
<th><input type = "password" name = "passwd" placeholder="비번을 입력하세요" required></th>
</tr>


</TABLE>

  <DIV class='bottom'>
    <input type='submit' value='삭제하기'>
    <input type='button' value='취소' onclick="history.back()">
  </DIV>

</FORM>

</body>
</html>