<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>jQuery Mobile</title>
   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<!-- *********************************************** -->
<div class="container-fluid">
<h2><span class="glyphicon glyphicon-th-list"></span>방명록</h2>

<table class="table table-condensed">
<tr>
<td>이름</td>
<th>땡땡땡</th>
</tr>

<tr>
<td>내용</td>
<th>안녕하세요</th>
</tr>
</table>
</div>

<hr>
<div class="title">
  <TABLE class="table table-condensed">
  <thead>
    <tr>
      <th>번호</th>
      <TH>이름</TH>
      <th>내용</th>
      <th>등록날짜</th>
	</tr>
	
    <tr>
    	<th>날짜</th>
        <TH>가나다라마바사</TH>
        <th>아나다라마바사</th>
        <th>등록날짜</th>
   		</tr>
    </tbody>
  </TABLE>
</div>
<!-- *********************************************** -->
</body>
</html>