<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>문의 생성</title>

<script type="text/javascript">


</script>
</head>
<body>
	<form action="./create">
		<table width="699" border="1" cellspacing="0" cellpadding="0">
			<tr>
				<td>제목</td>
				<td>글이 안써집니다 확인좀해주세요</td>
			</tr>

			<tr >
				<td>분류</td>
				<td>건의</td>
			</tr>
			<tr id="impo" style="visibility: visible;">
				<td>중요도</td>
				<td>중요</td>
			</tr>
			<tr>
				<td>내용</td>
				<td>글이 안써집니다 스크린샷 동봉됨 확인요망</td>
			</tr>

		</table>
		<br>
		<div id="button">
		<button>리스트로</button>
		<button>답변</button>
		<button>삭제</button>
		<button>수정</button>
		</div>


	</form>


</body>
</html>