<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>문의 생성</title>

<script type="text/javascript">


</script>
</head>
<body>
	<form action="./create">
		<table width="699" border="1" cellspacing="0" cellpadding="0">
			<tr>
				<td>제목</td>
				<td><input name="title" type="text"></td>
			</tr>

			<tr >
				<td>분류</td>
				<td>문의</td>
			</tr>
			<tr id="impo" style="visibility: visible;">
				<td>중요도</td>
				<td>중요</td>
			</tr>
			<tr>
				<td>내용</td>
				<td><textarea cols="30" rows="10"></textarea></td>
			</tr>

		</table>
		<div id="button" >
		<button>뒤로가기</button>
		<button type="reset">다시쓰기</button>
		<button>등록</button>
		</div>


	</form>


</body>
</html>